<mat-card  class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Ativos</mat-card-title>
    <mat-card-subtitle>Gerenciamento de ativo de TI</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ut voluptatibus cumque odio nesciunt repudiandae illum numquam alias impedit,<br/>
      facere pariatur earum hic maxime rerum?
      Impedit dolore cupiditate enim! Quo, necessitatibus.
    </p>
  </mat-card-content>
</mat-card>