<main>
    <article>
  
      <section class="card">
      
  
  
          <mat-toolbar color="primary">
              <span>Sistema de Gestao de patrimônio</span>
              <span class="example-spacer"></span>
              <button  (click)=" formAtivo()"  mat-raised-button  color="primary">Nova Ativo</button>
          </mat-toolbar>
      
      
        <mat-form-field>
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. serie " #input>
         </mat-form-field>
      
      
          <div class="container mat-elevation-z8">
              <div class="table-container">
      
                  <table mat-table [dataSource]="dataSource" matSort class="tabela">
      
                      <!-- ID Column -->
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="id" >
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
                          <td mat-cell *matCellDef="let row"> {{row.id}}  </td>
                      </ng-container>
      
                     
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> nome </th>
                          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="serie">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> serie </th>
                          <td mat-cell *matCellDef="let row"> {{row.serie}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="price">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> valor </th>
                          <td mat-cell *matCellDef="let row"> {{row.price  | currency}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="datePay">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> data </th>
                          <td mat-cell *matCellDef="let row"> {{row.datePay  | date : 'dd/MM/yyyy'}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> cartegoria </th>
                          <td mat-cell *matCellDef="let row"> {{row.category.name}} </td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="localization">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> local</th>
                          <td mat-cell *matCellDef="let row"> {{row.localization.name}} </td>
                      </ng-container>
      
      
      
      
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="acoes">
                          <th class="mat-header" mat-header-cell *matHeaderCellDef mat-sort-header> ações </th>
                          <td mat-cell *matCellDef="let row">  
                              <button mat-icon-button color="primary" (click)="editForm(row)">
                                  <i class="material-icons" >editar</i>
                              </button>
                              <button mat-icon-button color="warn" (click)="delete(row.id)">
                                  <mat-icon>delete</mat-icon>
                              </button>
                          </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">Sem dados "{{input.value}}"</td>
                      </tr>
                  </table>       
              </div>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
      
      </section>
    </article>
  
  </main>