*{
    box-sizing: border-box;
}
body{

    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 100px;


}
nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
    text-align: center;
}

nav ul li a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 14px 20px;
    font-size: 3rem;
}
nav li a:hover {
    background-color: #ddd;
    color: black;
}
main{
    display: flex;
    flex-wrap: wrap;
}

figure {
    position: relative;
}
figure:before,
figure:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*position: absolute;*/

}
main img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*filter: contrast(1.1) brightness(1.2) grayscale(1);*/
}
main .dishes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dishe>p{
    color: #000;
    text-align: center;
    font-size: 1rem;


}
.dishes figure:nth-child(odd) {
    background-color: #FA9F42;

}
.dishes figure:nth-child(even) {
    background-color: #708c2f;

}
.dishes>.dishe:hover {
    border: 1px solid #777;
    background-color: #ccc;

}

footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    border-top-left-radius:  2px ;
    border-top-right-radius:  2px ;
    background-color: #ddd;

}
footer div{
    flex-grow: 30;
    flex-basis: 70px;
}
footer div:nth-of-type(1) {
    background-color: #777;

}
footer div:nth-of-type(2) {
    flex-basis: 70%;
    align-content: center;
    text-align: center;
    color: #000000;
    background-color: #FA9F42;

}
footer div img{
    width: 130px;
    height: 50px;
}


@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
}